.stat {
  min-width: 33%;
  display: flex;
  align-items: center;
  padding: 10px;
  span {
    margin: 0 10px;
  }
  h4 {
    width: 100%;
  }
  &__control {
    background: none;
    border: none;
    font-size: 40px;
    font-family: "Caveat";
    line-height: 26px;
    padding: 0 3px;
    outline: none !important;
    cursor: pointer;
    &:active {
      transform: scale(0.9);
    }
    &_hiden {
      display: none;
    }
  }
}

@media screen and (max-width: 650px) {
  .stat {
    width: 100%;
    &__control {
      padding: 0 10px;
    }
  }
}
